{% extends 'blog/base.html' %}

{% block content %}
    {% for post in postagess %}
      <div class="postings">
          <br><br>
          <div class="date">
              <p>published: {{ post.published_date }}</p>
          </div>
          <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <p>Kya Likha Tha: {{ post.text|linebreaksbr }}</p>
          {{ post }}
      </div>
    {% endfor %}
{% endblock %}

<!-- CLEAN PYTHON DJANGO CODE BELOW, WHICH HAS BEEN ADAPTED ABOVE -->
        <!-- {% for post in postage %}
              <br><br>
              <p>published: {{ post.published_date }}</p>
              <h2><a href="">{{ post.title }}</a></h2>
              <p>Kya Likha Tha: {{ post.text|linebreaksbr }}</p>
              {{ post }}
        {% endfor %} -->
